<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Cita</title>
  <!-- Agrega el enlace al archivo CSS de Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="container">
    <h1 class="mt-5">Crear Cita</h1>

    <!-- Formulario para crear una cita médica -->
    <form id="citaForm" action="/citas" method="POST">
      <div class="form-group">
        <label for="patientDocument">Número Documento Paciente:</label>
        <input type="text" class="form-control" name="patientDocument" id="patientDocument" required>
      </div>
      <div class="form-group">
        <label for="doctor">Doctor:</label>
        <select class="form-control" name="doctor" id="doctor" required>
          <!-- Opciones se cargarán dinámicamente desde el servidor -->
        </select>
      </div>
      <div class="form-group">
        <label for="specialty">Especialidad:</label>
        <select class="form-control" name="specialty" id="specialty" required>
          <option value="medicina_general">Medicina General</option>
          <option value="pediatria">Pediatría</option>
          <option value="cardiologia">Cardiología</option>
        </select>
      </div>
      <div class="form-group">
        <label for="date">Fecha y Hora:</label>
        <input type="datetime-local" class="form-control" name="date" id="date" required>
      </div>
      <button type="submit" class="btn btn-primary">Guardar Cita</button>
      <a href="/" class="btn btn-secondary">Volver al Inicio</a>
    </form>
  </div>

  <!-- Agrega el enlace al archivo JS de Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
